.displace {
  position: relative;
  top: 100px; }

.people {
  position: relative;
  z-index: -1;
  width: 100%;
  background: linear-gradient(0deg, black 0%, rgba(0, 212, 255, 0) 100%); }

.gradient {
  box-sizing: content-box; }

.hover-img {
  color: white;
  text-align: right;
  position: relative;
  z-index: 1;
  bottom: -450px;
  left: -50px; }
