.span-text {
  background-color: #FFD600;
  position: relative;
  left: -0.4rem;
  padding-left: 0.4rem;
  padding-right: 1.1rem; }

.hero-title {
  font-size: 60px; }

.hero-text {
  font-size: 0.8rem;
  color: gray; }

.find-us, .find-us:active, .find-us:focus {
  font-weight: 700;
  text-decoration: none;
  color: black; }
