.location {
  margin: 0.7rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: #FFF1BF; }

.location-title, .location-text {
  padding: 0;
  margin: 0; }

.location-title {
  margin-top: 0.5rem;
  font-size: 1.1rem; }

.location-text {
  font-size: 0.9rem; }

.inactive {
  background-color: white;
  border: 1px solid black; }

.icon {
  margin-left: -0.5rem;
  margin: 0 0.5rem; }

.take-out {
  border-radius: 0;
  border: 1px solid #C4C4C4;
  margin-top: 1rem;
  background-color: white;
  color: black; }
  .take-out .icon > * {
    fill: black; }

.dark-out {
  background-color: black;
  color: white; }
  .dark-out .icon > * {
    fill: white; }
