.yellow-body
    overflow: hidden
    position: absolute
    z-index: -1
    top: 0
    right: 0
    width: 90vw

@include media(sm)
    .yellow-body
        top: -5vh
        width: 55vw

@include media(md)
    .yellow-body
        width: 52vw