.card {
  margin: 1rem;
  padding: 0;
  transition: box-shadow 0.3s ease-in-out;
  border: none; }

.card:hover {
  box-shadow: 0px 16px 24px 0px #385172; }

.card-title, .card-text {
  text-align: left; }

.card-phone {
  width: 90%; }

.card-img-top {
  object-fit: cover;
  width: 100%;
  border-radius: 5px; }

@media (min-width: 768px) {
  .card-tablet {
    width: 45%; } }

@media (min-width: 1361px) {
  .card-large {
    width: 20%; } }

.black {
  text-align: center;
  background-color: black;
  color: white; }

.inputGroup > * {
  width: 100%; }

.inputGroup > label {
  font-size: 0.8rem;
  text-align: left; }

.form-input {
  color: white;
  padding: 0.7rem 0.5rem;
  background-color: transparent;
  border-radius: 5px;
  margin-bottom: 0.5rem; }

.form-input:focus {
  border: 1px solid #FFC700;
  color: #FFC700; }

.yellow-primary {
  color: #FFC700; }

.btn-custom {
  background-color: #FFC700;
  font-weight: 700; }

.grouper {
  margin-bottom: 8rem !important; }

@media (max-width: 768px) {
  .grouper {
    margin: 0 1rem; } }

@media (min-width: 768px) {
  .grouper {
    margin: 0 2rem; } }

@media (min-width: 1024px) {
  .form-title {
    margin: 3rem 0;
    font-size: 2rem; }
  .form-desc {
    width: 50%;
    font-size: 1.2rem; }
  .grouper {
    margin: 0 7rem; } }

.storeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.store {
  margin: 0.4rem 0.2rem;
  width: 35%; }

.footer-title {
  font-size: 1.4rem; }

.footer-link {
  margin: 0.8rem 0; }

.separator {
  height: 2px !important; }

.footer-link.last {
  margin-bottom: 3rem; }

@media (min-width: 768px) {
  .footer-title {
    font-size: 1.5rem !important;
    padding-left: 2rem;
    margin: 0; }
  .footer-link > a {
    font-size: 1rem; }
  .storeContainer {
    justify-content: flex-end;
    padding-right: 1.5rem !important; } }

@media (min-width: 1024px) {
  .store {
    width: 25%; } }

.text-white {
  color: white !important; }

.black-hero {
  background-color: black !important; }

.over-hidden {
  overflow: hidden; }

.carousel.slide {
  height: 50vh; }

.item-title {
  font-size: 1.4rem; }

.item-text {
  text-align: center;
  padding: 0.8rem 0.4rem 0;
  font-size: 1rem; }

.ketchup {
  position: relative;
  object-fit: contain; }

.ketchup-left {
  left: -4rem; }

.ketchup-right {
  right: 0;
  top: 9rem; }

@media (min-width: 768px) {
  .item-title {
    width: 100%;
    font-size: 2rem; } }

@media (min-width: 768px) {
  .carousel.slide {
    padding: 0; }
  .ketchup-right {
    top: -3rem; }
  .ketchup-bottle {
    z-index: 2;
    top: 0;
    right: -20rem; } }

.hover-img-container {
  overflow: hidden; }

.gradient {
  overflow: hidden;
  background: linear-gradient(359.79deg, #040404 -13.79%, rgba(0, 0, 0, 0) 61.58%); }

.people {
  position: relative;
  z-index: -1;
  margin-left: -11rem; }

.hover-text {
  position: relative;
  top: 590px;
  z-index: 1;
  padding: 0 2rem 3rem 0;
  flex-flow: column nowrap;
  color: white;
  text-align: right; }

.text-gray {
  color: rgba(0, 0, 0, 0.4); }

.w-95 {
  width: 95%; }

.about-title {
  font-weight: 700;
  font-size: 1.4rem; }

.bg-yellow-lines {
  background-image: url("../resources/lines.svg"); }

.pt-6 {
  padding-top: 6rem; }

.find-us-about, .find-us-about:active, .find-us-about:focus {
  color: black;
  text-decoration: none; }

@media (max-width: 768px) {
  .interchange {
    flex-direction: column; } }

@media (min-width: 768px) {
  .people {
    width: 100%;
    margin-left: 0; }
  .about-title {
    font-size: 1.6rem; }
  .text-gray {
    font-size: 1.3rem; } }

@media (min-width: 1361px) {
  .interchange {
    margin-top: 8rem; }
  .about-title {
    margin-top: 5rem; }
  .lined {
    margin-left: 2.5rem;
    background-position-y: 5rem; }
  .find-us-about {
    font-size: 1.4rem; } }

.location-container {
  justify-content: center; }

.location {
  width: 80%;
  margin: 0.7rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: #FFF1BF; }

.location-title, .location-text {
  padding: 0;
  margin: 0; }

.location-title {
  margin-top: 0.5rem;
  font-size: 1.1rem; }

.location-text {
  font-size: 0.9rem; }

.inactive {
  background-color: white;
  border: 1px solid black; }

.icon {
  margin-left: -0.5rem;
  margin: 0 0.5rem; }

.take-out {
  border-radius: 0;
  border: 1px solid #C4C4C4;
  margin-top: 1rem;
  background-color: white;
  color: black; }
  .take-out .icon > * {
    fill: black; }

.dark-out {
  background-color: black;
  color: white; }
  .dark-out .icon > * {
    fill: white; }

.searchbar {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 0.5rem; }

#inputRest {
  border: none; }

.map {
  height: 60vh; }

@media (max-width: 768px) {
  .take-out {
    font-size: 1rem; } }

@media (min-width: 1024px) {
  .mapContainer {
    margin: 3rem 0; }
  .location {
    margin-right: 1.5rem; }
  .location-container {
    justify-content: flex-end; }
  .take-out {
    padding: 1rem 0;
    font-size: 1.4rem; } }

.span-text {
  background-color: #FFD600;
  position: relative;
  left: -0.4rem;
  padding-left: 0.4rem;
  padding-right: 1.1rem; }

.hero-img {
  width: 90%; }

.hero-title {
  margin-top: 3rem;
  font-size: 32px; }

.hero-text {
  font-size: 1rem;
  color: gray; }

.find-us, .find-us:active, .find-us:focus {
  font-weight: 700;
  text-decoration: none;
  color: black;
  font-size: 1.3rem; }

@media (min-width: 768px) {
  .hero-title {
    font-size: 2.5rem; }
  .hero-text {
    width: 64%; }
  .hero-text, .hero-title, .find-us {
    margin-left: 1.8rem; } }

@media (min-width: 1024px) {
  .hero-title {
    font-size: 4rem; }
  .hero-text {
    font-size: 1.5rem;
    width: 78%; }
  .find-us {
    font-size: 1.8rem; }
  .hero-img {
    width: 80%; }
  .big-hero {
    padding: 0 5rem; } }

.navbar-brand {
  font-size: 2rem; }

.nav-item {
  font-size: 1.3rem; }

.navbar-nav {
  margin-left: 1.7rem; }

@media (min-width: 1361px) {
  .nav-item {
    margin: 0 3.1rem !important; } }

.yellow-body {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 90vw; }

.yellow-body.dark {
  right: -110vw;
  top: -25vh;
  height: 80%;
  width: auto; }

@media (min-width: 768px) {
  .yellow-body {
    top: -5vh;
    width: 55vw; }
  .yellow-body.dark {
    top: -25vh;
    right: -50vw; } }

@media (min-width: 1024px) {
  .yellow-body {
    width: 52vw; } }

.phone {
  margin-top: -12rem;
  width: 100%;
  height: auto; }

.benefits {
  text-align: center;
  margin: 0;
  padding: 0 2rem; }
  .benefits strong {
    display: block;
    background-color: #FFD600;
    margin-top: 0.3rem;
    padding-top: -5px;
    padding-bottom: 0.3rem; }

.infoTitle {
  font-weight: 700;
  margin: 0.8rem;
  font-size: 1.1rem; }

@media (max-width: 768px) {
  .infoGrouper.first {
    margin-top: 3rem !important; } }

@media (min-width: 768px) {
  .phone {
    width: 60%;
    margin-bottom: 2rem; } }

@media (min-width: 1024px) {
  .benefits {
    font-size: 2rem; }
  .infoContainer {
    padding-top: 2rem; }
  .phone {
    width: 100%; } }

.foodies {
  position: absolute;
  z-index: 2;
  top: 1.3rem;
  left: 1.1rem; }

.hamb {
  font-size: 1.2rem;
  position: absolute;
  z-index: 2;
  top: 1.3rem;
  right: 1.1rem; }

.hiden-nav {
  padding: 4.4rem 1.6rem;
  z-index: 1;
  background-color: white;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }

.primary {
  color: #FFD600; }

input:focus, textarea:focus {
  outline: none; }

textarea {
  resize: none; }

a, a:active, a:focus {
  text-decoration: none; }
