@import url('//db.onlinewebfonts.com/c/2206d6cc490084998d531e8c1b2cbb4a?family=Druk+Wide+Bold');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

.druk {
    font-family: 'Druk Wide Bold', sans-serif;
    font-weight: bold;
}

.openSans{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal; 
}

.syne{
    font-family: 'Syne', sans-serif;
    font-weight: bold;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}