$primary: #FFD600
$secondary: rgba(0, 0, 0, 0.4)

@import './Mixin/mixin'

@import './Components/about_us'
@import './Components/location'
@import './Components/big_hero'
@import './Components/navigation'
@import './Components/yellow_body'
@import './Components/phone_navigation'

.primary
    color: $primary